# filetypes
*.xmodel_bin
*.bmp
*.exe
*.bat
*.txt
*.vdf
*.dll
*.csv

# Directorys
/_custom
/archetypes
/art_assets
/AssetWorks
/bin
/crash_reports
/custom_textures
/deffiles
/docs_modtools
/gdtdb
/LPC
/map_source
/model_export
/mods
/pc
/players
/radiant
/rex
/share
/sound
/sound_assets
/source_data
/sw4
/texture_assets
/usermaps
/video
/win64
/xanim_export
/zone
/zone_source
