# Auto detect text files and perform LF normalization
* text=auto
*.all.sabl filter=lfs diff=lfs merge=lfs -text
*.all.sabs filter=lfs diff=lfs merge=lfs -text
*.ff filter=lfs diff=lfs merge=lfs -text
