# filetypes
*.xmodel_bin
*.bmp
*.exe
*.bat
*.txt
*.vdf
*.dll
*.xpak
*.json
*.all.sabl
*.all.sabs
*.all.sabs~lk
*.ff
AssetFileList.csv

# Directorys
/*
!/.gitignore
!/.gitattributes

!/bin/
/bin/*
!/bin/libtiff64r.dll

!/map_source/
/map_source/*
!/map_source/zm/
/map_source/zm/*
!/map_source/zm/zm_jans_haven.bak
!/map_source/zm/zm_jans_haven.lin
!/map_source/zm/zm_jans_haven.map

!sound_assets
/sound_assets/*
!/sound_assets/music

!/share/
/share/assetconvert
/share/zone_source
/share/raw/*
!/share/raw/sound/
/share/raw/sound/*
!/share/raw/sound/aliases

!/usermaps
/usermaps/*
!/usermaps/zm_jans_haven
!/usermaps/zm_undead_asylum
*.partial
*.ff
