# filetypes
*.xmodel_bin
*.bmp
*.exe
*.bat
*.txt
*.vdf
*.dll
*.xpak
*.json
# *.all.sabl
# *.all.sabs
# *.ff
AssetFileList.csv

# Directorys
/*
!/.gitignore
!/.gitattributes

!/bin/
/bin/*
!/bin/libtiff64r.dll

!/share/
/share/assetconvert
/share/zone_source
/share/raw/*
!/share/raw/sound/
/share/raw/sound/*
!/share/raw/sound/aliases

!/usermaps
/usermaps/*
!/usermaps/zm_jans_haven
